html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

div[class^='xs'] {
	box-sizing: border-box;
	height: 100%;
}

.xs6 {
	width: 100%;
}

.xs8 {
	width: 66.6%;
}

.xs4 {
	width: 33.3%;
}

.flex {
	display: flex;
}

.row {
	flex-direction: row;
}

.column {
	flex-direction: column;
}

.wrap {
	flex-wrap: wrap;
}

.fill-height {
	height: 100%;
}

.sans {
	font-family: sans-serif;
}

.main {
	width: 100%;
	overflow: hidden;
	margin-bottom: 100px;
}

.row.v-center {
	align-items: center;
}

.row.h-center {
	justify-content: center;
}

.column.v-center {
	justify-content: center;
}

.column.h-center {
	align-items: center;
}

.about .text-column {
	padding: 50px;
	box-sizing: border-box;
	background-color: #eee;
}

.text-center {
	text-align: center;
}

.hero {
	width: 100%;
	height: 90vh;
	background-color: orange;
	position: relative;
	z-index: 0;
}

.hero::before {
	position: absolute;
	content: '';
	height: 100%; width: 100%;
	/*background-image: url('./images/cheetah-orange.jpg');*/
	background-size: cover;
	background-position: center;
	opacity: 40%;
	z-index: 0;
}

.cheetah {
	width: 300px;
	position: absolute;
	bottom: 0;
	left: -15%;
	z-index: 3;
	min-height: 100px;
}

.tree {
	position: absolute;
	bottom: 0px;
	right: 0;
	z-index: 0;
}

.tree--big {
	width: 600px;
	position: absolute;
	bottom: 0px;
	right: -35%;
	z-index: 0;
}

.grass {
	background-image: url("./images/grass.svg");
	background-size: contain;
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: 50px;
	z-index: 3;
}

.grass--orange {
	background-image: url("./images/grass--orange.svg");
	background-size: contain;
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: 75px;
	z-index: 2;
	opacity: 0.75;
}

.grass--orange:before {
	content: "";
	background-image: url("./images/grass--orange.svg");
	background-size: contain;
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: 100px;
	z-index: 1;
	opacity: 0.75;
}

video {
	width: 100%;
	position: relative;
}

.video__button {
	position: absolute;
	background-color: transparent;
	border: none;
	bottom: 20px;
	right: 20px;
	opacity: 0;
	transition: opacity 0.5s;
	font-size: 40px;
	color: white;
}

.wrapper {
	position: relative;
}

.video__mute {
	position: absolute;
	margin: 0;
	right: 20px; bottom: 20px;
	opacity: 0.5;
	transition: opacity 0.5s;
}

.container {
	width: 90vw; height: 100%;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}

.title {
	width: 100%;
	height: auto;
	object-fit: contain;
	filter: drop-shadow(0px 15px 10px rgba(0,0,0,0.5));
	position: absolute;
	left: 0;
	z-index: 2;
}

.product {
	width: 100%;
	height: 80%;
	position: relative;
	z-index: 1;
	object-fit: contain;
	filter: drop-shadow(20px 20px 30px rgba(0,0,0,0.8));
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
            transform: rotate(45deg);
}

@keyframes fadein {
    0% { opacity: 0; transform: rotate(0deg); }
    50% { opacity: 1; transform: rotate(0deg); }
    100%   { opacity: 1;  transform: rotate(45deg);}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    0% { opacity: 0; transform: rotate(0deg); }
    50% { opacity: 1; transform: rotate(0deg); }
    100%   { opacity: 1;  transform: rotate(45deg);}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    0% { opacity: 0; transform: rotate(0deg); }
    50% { opacity: 1; transform: rotate(0deg); }
    100%   { opacity: 1;  transform: rotate(45deg);}
}

/* Internet Explorer */
@-ms-keyframes fadein {
    0% { opacity: 0; transform: rotate(0deg); }
    50% { opacity: 1; transform: rotate(0deg); }
    100%   { opacity: 1;  transform: rotate(45deg);}
}

.about {
	height: 50vh;
}

.about__headline {
	color: orange;
	font-size: 60px;
	margin: 0
}

.about__text {
	font-size: 24px;
	font-weight: bold;
	color: #333;
}

.about__image {
	width: 100%; height: 100%;
	object-fit: cover;
	position: relative;
	z-index: 0;
}

.image-column {
	position: relative;
}

.image-column::after {
	position: absolute;
	content: '';
	top: 0; left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.3);
	z-index: 2;
}

.story {
	background-color: #eee;
	color: white;
	padding-top: 100px;
}

.story__text {
	font-size: 16px;
	font-weight: bold;
	margin: 80px auto;
	line-height: 1.5em;
	color: #333;
}

.quotes {
	display: block;
	font-size: 120px;
	color: orange;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	position: relative;
	font-family: serif;
	padding-bottom: 20px;
}

.fade.feature {
	opacity: 1;
}

.feature {
	margin: 20px 0;
	opacity: 0;
	transition: opacity 0.5s;
}


.feature__left {
	height: 100%;
	position: relative;
	order: 0;
}

.feature__right {
	order: 1;
}

.feature__title {
	position: relative;
	top: 50px;
	font-size: 50px;
	color: orange;
	z-index: 2;
	margin-top: 0;
	width: 100%;
	/*text-shadow: 0 5px 10px rgba(0,0,0,0.5);*/
}

.feature__text {
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	margin: 20px 0 0 0;
	line-height: 1.5em;
	color: #333;
	position: relative;
	/*padding-top: 80px;*/
}

.feature__left img {
	width: 100%;
}

@media only screen and (min-width: 720px) {
	.cheetah { 
		width: 400px;
		left: 0;
	}

	.tree--big {
		right: 0;
		width: 800px;
	}

	.feature {
		margin: 0;
	}

	.xs6 {
		width: 50%;
	}

	.story__text {
		font-size: 24px;
	}

	.feature__left {
		height: 100%;
		position: relative;
		order: unset;
	}

	.feature__title {
		width: 100vw;
	}

	.feature__right {
		order: unset;
	}

	.feature__text {
		text-align: left;
		max-width: 250px;
		margin: 0 auto;
		top: 50px;
	}

}

@media only screen and (min-width: 900px) {


	.title {
		width: 80%;
	}

	.product {
		width: 40%;
		margin-left: 60%;
	}

	.feature__text {
		font-size: 24px;
		top: 60px;
		max-width: 350px;
	}

	.feature__title {
		font-size: 60px;
		top: 60px;
	}
}

@media only screen and (min-width: 1100px) {
  .feature__title {
  	font-size: 80px;
  	top: 80px;
  }

  .feature__text {
  	font-size: 32px;
  	top: 80px;
  	max-width: 400px;
  }
}

@media only screen and (min-width: 1400px) {
  .feature__title {
  	font-size: 100px;
  	top: 105px;
  }
}